<%include partials/header%>

<h1><%= camp.name %></h1>

<img src="<%= camp.image %>" alt="<%= camp.name%>">

<p><%= camp.description %></p>

<% camp.comments.forEach(function(comment){ %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>

	</p>
<% })%>

<%include partials/footer%>